<div class="col-lg-12 thread well">

    <p class="well">{{this.body}}</p>

    <div class="input-group col-lg-12">

        <span class="input-group-btn">
        
            {{!-- like this thread --}}
            <button id="{{this._id}}" class="btn btn-primary" data-like-thread="" >
            likes {{this.likes.length}}
            </button>

            <button class="btn btn-default" type="button" id="{{this._id}}" data-new-comment="">post comment</button>
        </span>

        <input type="text" class="form-control" id="{{this._id}}_input">

    </div>
    
    {{> comment}}
    <a href="#" data-load-comments="" id="{{this._id}}" class="loadComments"> load comments... </a>
</div>