<div class="row">
<div class="col-lg-12">
    <h1>{{data.username}}'s Profile</h1>
    <h3> Posts:</h3>
</div>

{{#if data.isUser}}
    <div class="col-lg-12">
        <form action="/thread" method="post">
            <textarea name="content" cols="30" rows="10" placeholder="Enter Thread..." class="form-control"></textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{{/if}}

<h2>{{data.flash}}</h2>

<hr>

{{!-- for each thread on profile --}}
{{#each data.threads}}

    <div class="col-lg-6">
        {{this.body}}
        <br>
        [{{this.likes.length}} like(s)] 
        
        {{!-- like this thread --}}
        <button id="{{this._id}}" class="like">like</button>

        {{!-- for each comment in thread --}}
        {{#each this.comments}}
            <p class="nested">
                {{this.body}}
                <br>
                by: <a href="/u/{{this.author}}">{{this.author}}</a>
                [{{this.likes.length}} like]
                <p class="_id">{{this._id}}</p>
            </p>    
    </div>
{{/each}}
        {{!-- for each comment in thread --}}
    

        <form action="/thread/{{this._id}}" method="post">
            <br>
            <input name="body" cols="30" rows="1" placeholder="Enter Comment..."></textarea>
            <button type="submit">submit comment</button>
        </form>
    <hr>

{{/each}}
{{!-- for each thread on profile --}}

    {{!-- go to last page --}}
    <form action="/u/{{data.owner}}/{{data.lastPage}}" method="get">
        <button type="submit">previous page</button>
    </form>

    {{!-- go to next page --}}
    <form action="/u/{{data.owner}}/{{data.nextPage}}" method="get">
        <button type="submit">next page</button>
    </form>

</div>