<div class="row">
<br>
<div id="message"></div>

<div class="jumbotron profile">
    <div class="col-lg-2 glyphicon glyphicon-user userpic"></div>
    <div class="col-lg-10">
        <h1>{{data.owner}}'s Profile</h1>

        {{#unless data.isOwner}}
        <button class="btn btn-primary" data-add-friend="" >add {{data.owner}}</button>
        {{/unless}}

        <strong> Friends: </strong>

        {{!-- for each friend --}}
        {{#each data.friends}}
        <a href="/u/{{this}}">{{this}}</a>
        {{/each}}
        {{!-- for each friend --}}

    </div>
</div>

{{#if data.isOwner}}
    <div class="col-lg-12 well well-lg">
        <form action="/thread" method="post" class="input-group">
            <input class="form-control" name="content" cols="30" rows="3" placeholder="Enter Thread..." class="form-control">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Submit</button>
            </span>
        </form>
    </div>
{{/if}}

<h2>{{data.flash}}</h2>

{{!-- for each thread on profile --}}
{{#each data.threads}}

    <div class="col-lg-12 thread well">

        <p class="well">{{this.body}}</p>

        <div class="input-group col-lg-12">
            <span class="input-group-btn">
                {{!-- like this thread --}}
                <button id="{{this._id}}" class="btn btn-primary" data-like-thread="" >
                    likes {{this.likes.length}}
                </button>
                <button class="btn btn-default" type="button" id="{{this._id}}" data-new-comment="">post comment</button>
            </span> 
            <input type="text" class="form-control" id="{{this._id}}_input">
        </div>

        <hr>

        {{!-- for each comment in thread --}}
        {{#each this.comments}}
            <div class="comment">

                <a href="/u/{{this.author}}">{{this.author}}:</a>
                <p>{{this.body}}</p>

                {{!-- like this comment --}}
                <button id="{{this._id}}_{{../this._id}}" class="btn btn-primary" data-like-comment="">
                    likes {{this.likes.length}}
                </button>

            </div>
        {{/each}} 
        {{!-- for each comment in thread --}}

        <a href="#" data-load-comments="" id="{{this._id}}" class="loadComments"> load comments... </a>

    </div>

    <hr>

{{/each}}
{{!-- for each thread on profile --}}