<div class="row">

<div class="col-lg-12">
    <h1>{{data.owner}}'s Profile</h1>

    {{#unless data.isOwner}}
    <button class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> add {{data.owner}}</button>
    {{/unless}}

    <h3> Friends: </h3>
    
    {{!-- for each friend --}}
    {{#each data.friends}}
    <a href="/u/{{this}}">{{this}}</a>
    {{/each}}
    {{!-- for each friend --}}

    <h3> Posts:</h3>
</div>

{{#if data.isOwner}}
    <div class="col-lg-12">
        <form action="/thread" method="post">
            <textarea name="content" cols="30" rows="3" placeholder="Enter Thread..." class="form-control"></textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{{/if}}

<h2>{{data.flash}}</h2>
<div id="message"></div>

<hr>

{{!-- for each thread on profile --}}
{{#each data.threads}}

    <div class="col-lg-12">
        {{this.body}}
        <br>
        
        {{!-- like this thread --}}
        <button id="{{this._id}}" class="btn btn-primary" data-like-thread="" >
            {{this.likes.length}}
        </button>
        
        <br>
        <br>

        {{!-- for each comment in thread --}}
        {{#each this.comments}}
            <p class="nested">
                {{this.body}}
                <br>
                by: <a href="/u/{{this.author}}">{{this.author}}</a>

                {{!-- like this comment --}}
                <button id="{{this._id}}_{{../this._id}}" class="btn btn-primary" data-like-comment="">
                    {{this.likes.length}}
                </button>

            </p>
        {{/each}}  
        {{!-- for each comment in thread --}}

    </div>
        
        <form action="/thread/{{this._id}}" method="post">
            <br>
            <input name="body" cols="30" rows="1" placeholder="Enter Comment..."></textarea>
            <button type="submit">submit comment</button>
        </form>
    <hr>

{{/each}}
{{!-- for each thread on profile --}}

</div>