<div class="row">
<div class="col-lg-12">
    <h1>{{data.owner}}'s Profile</h1>
</div>

{{#if data.isUser}}
    <div class="col-lg-12">
        <form action="/thread" method="post">
            <textarea name="content" cols="30" rows="3" placeholder="Enter Thread..." class="form-control"></textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{{/if}}
<h3> Latest Posts:</h3>
<h2>{{data.flash}}</h2>

<hr>
{{#each data.threads}}
    <div class="col-lg-6 thread">
        <a href="/u/{{this.author}}" class="comment-author">{{this.author}}</a>
        <p class="comment-body" data-threadId="{{this._id}}">
            {{this.body}}
        </p>
        <br>
        <span class="likes">[{{this.likes.length}} like(s)] </span>

        <form action="/thread/{{this._id}}/like" method="post">
            <button type="submit" class="">like</button>
        </form>
        {{#each this.comments}}
            <div class="nested comment" data-commentId="{{this._id}}">
                <a href="/u/{{this.author}}" class="comment-author">{{this.author}}</a>
                <p class="comment-body">{{this.body}}</p>
                <span class="likes">[{{this.likes.length}} like(s)] </span>
            </div>
        {{/each}}
        <form action="/thread/{{this._id}}" method="post">
            <input name="body" placeholder="Enter Comment..." class="form-control post-comment">
            <button type="submit" class="btn btn-primary">submit comment</button>
        </form>
    </div>
    <hr>
{{/each}}
    <div class="col-lg-12">
        <form action="/u/{{data.owner}}/{{data.lastPage}}" method="get">
            <button type="submit" class="btn btn-primary">previous page</button>
        </form>

        <form action="/u/{{data.owner}}/{{data.nextPage}}" method="get">
            <button type="submit" class="btn btn-primary">next page</button>
        </form>
    </div>
</div><!-- END ROW -->